<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> Spring Boot Demo </h2>
<ul>
    <li th:text="'Time : ' + ${now}"> where the time will be placed</li>
    <li th:text="':) : ' + ${greetings}"> greetings will be placed here </li>
    <li>Create User : <a th:href="@{/application/create-user}">Link to /create-user</a></li>
</ul>
</body>
</html>