<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="#{application.title}"> Title </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body>
<h1 th:text="#{application.create-user}"> Create </h1>
<form action="#" th:action="@{/application/create-user}" th:object="${user}" method="POST">
    <table>
        <tr>
            <td th:text="#{user.id}"/> </td>
            <td>
                <input type="text" th:field="*{userId}"/>
                <label th:if="${#fields.hasErrors('userId')}" th:text="#{error.user.id}" th:class="'error'"> Id Error </label>
            </td>
        </tr>
        <tr><td th:text="#{user.name}"></td>
            <td>
                <input type="text" th:field="*{userName}" />
                <label th:if="${#fields.hasErrors('userName')}" th:text="#{error.user.name}" th:class="'error'">Name Error</label>
            </td>
        </tr>
        <tr><td th:text="#{user.gender}"></td>
            <td>
                <input type="radio" th:field="*{gender}" value="Male"/><label th:text="#{user.gender.male}">M</label>
                <input type="radio" th:field="*{gender}" value="Female"/><label th:text="#{user.gender.female}">F</label>
                <label th:if="${#fields.hasErrors('gender')}" th:text="#{error.user.gender}" th:class="'error'">Gender Error</label>
            </td>
        </tr>
        <tr><td th:text="#{user.freed}+ '?'"></td>
            <td>
                <input type="checkbox" th:field="*{freed}" />
            </td>
        </tr>
        <tr><td th:text="#{user.profile}"></td>
            <td>
                <select th:field="*{profile}">
                    <option th:each="profile : ${allProfiles}" th:value="${profile}" th:text="${profile}">Profile</option>
                </select>
            </td>
        </tr>
        <tr><td colspan="2">
            <input type="submit" th:value="#{user.form.submit}"/>
            <input type="reset" th:value="#{user.form.reset}"/>
        </td>
        </tr>
    </table>
</form>

</body>
</html>